<!-- after customizing products, show delivery and payment option to complete buying process -->
<!-- Shopping cart page view all items in cart -->

<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>iCard-Shopping Cart</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- use google font -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

  <link th:href="@{/fonts/fontawesome-free-5.14.0-web/css/all.css}" rel="stylesheet" />
    <link th:href="@{/styles/basic.css}" rel="stylesheet" />
    <link th:href="@{/styles/header.css}" rel="stylesheet" />
    <link th:href="@{/styles/cart.css}" rel="stylesheet" />
</head>

<body>
  <div th:replace="views/fragments/header :: header"></div>

  <main id="top" >
    <form action="">
      <div class="shopping-cart">
        <div class="left-column">
          <h2>Shopping Cart</h2>

          <!-- product #1 -->
          <div class="item">

            <div class="card-img">
              <img src="../images/chrismas_tower_sm.jpg" alt="" />
            </div>

            <div class="product-info">
              <div class="name">Name: XXXX</div>
              <div>Provider: XXX</div>

              <div>
                <label>Quantity
                <input type="number" name="quantity" placeholder="1" min="1" value="1">
                </label>
              </div>
              <div class="delete">Delete</div>
            </div>

            <div class="custom-text">
              <div id="color">Color: Black</div>
              <div id="font">Font: Elegant</div>
              <details>
                <summary>Custom text</summary>
                <div>Top: Dear: XXXX</div>
                <div>Body: Merry Chrismas! </div>
                <div>Bottom: Yours YYY</div>
              </details>
            </div>
            <div>Price: $<span class="price">2.99</span></div>
          </div>
          <!-- product #2 -->
          <div class="item">

            <div class="card-img">
              <img src="../images/chrismas_tower_sm.jpg" alt="" />
            </div>

            <div class="product-info">
              <div class="name">Name: XXXX</div>
              <div>Provider: XXX</div>

              <div>
                <label>Quantity
                <input type="number" name="quantity" placeholder="1" min="1" value="1">
                </label>
              </div>
              <div class="delete">Delete</div>
            </div>

            <div class="custom-text">
              <div id="color">Color: Black</div>
              <div id="font">Font: Elegant</div>
              <details>
                <summary>Customized text</summary>
                <div>Top: Dear: XXXX</div>
                <div>Body: Merry Chrismas! </div>
                <div>Bottom: Yours YYY</div>
              </details>
            </div>
            <div>Price: $<span class="price">2.99</span></div>
          </div>

        </div>



        <div class="right-column">
          <p>Subtotal: $<span id="total-price">30</span></p>
          <a href="shipping_address.html"><button class="checkout-btn" type="button">Proceed to checkout</button></a>
          <div class="bottom"><a href="#top">Back to top</a></div>
        </div>
      </div>
    </form>
  </main>
  <script th:src="@{/js/cart.js}"></script>
</body>
</html>
