<!-- after customizing products, show delivery and payment option to complete buying process -->
<!-- Shopping cart page view all items in cart -->

<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>iCard-Checkout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- use google font -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <link th:href="@{/fonts/fontawesome-free-5.14.0-web/css/all.css}" rel="stylesheet" />
    <link th:href="@{/styles/basic.css}" rel="stylesheet" />
    <link th:href="@{/styles/header.css}" rel="stylesheet" />
    <link th:href="@{/styles/cart.css}" rel="stylesheet" />
    <link th:href="@{/styles/checkout.css}" rel="stylesheet" />
  <style>
  </style>
</head>

<body>
  <div th:replace="views/fragments/header :: header"></div>

  <div class="checkout-process">
    SIGN IN &gt; SHIPPING &gt; <strong>PLACE ORDER</strong>
  </div>

  <main id="top" >
    <form action="">
      <div class="shopping-cart">
        <div class="left-column">
          <h2>Review your order</h2>
          <div class="address-payment">
            <div>
              <!-- <h3>Shipping address</h3>
              <address>
                Qian<br>
                10 Persholas ST APT 10<br>
                BOSTON, MA 02130<br>
                United States<br>
                Phone: 6170009999
              </address> -->
              <th:block th:if="${receiver != null}">
              	<h3>Shipping address</h3>
			  	<address>
			      <span th:text="${receiver.firstName}+' '+${receiver.lastName}"></span><br>
			      <span th:text="${receiver.addressLine1}"></span><br>      
			      <span th:text="${receiver.addressLine2}"></span><br>     
			      <span th:text="${receiver.city}"></span>,&nbsp;
			      <span th:text="${receiver.state}"></span>&nbsp;
			      <span th:text="${receiver.zipCode}"></span><br>
			      Phone: <span th:text="${receiver.phone}"></span>
			    </address>			    
			  </th:block>
            </div>
            <div class="payment-method">
              <h3>Payment method</h3>
              <div>Paypal</div>
            </div>
            <div>
              <h3>Billing address</h3>
              <span th:text="${billingAddressType =='CUSTOMER'} ? 'Same as personal address' : 'Same as shipping address'"></span>
            </div>
          </div>
          <!-- product #1 -->
          <div class="item">

            <div class="card-img">
              <img src="../images/chrismas_tower_sm.jpg" alt="" />
            </div>

            <div class="product-info">
              <div class="name">Name: XXXX</div>
              <div>Provider: XXX</div>

              <div>
                <label>Quantity
                <input type="number" name="quantity" placeholder="1" min="1" value="1">
                </label>
              </div>
              <div class="delete">Delete</div>
            </div>

            <div class="custom-text">
              <div id="color">Color: Black</div>
              <div id="font">Font: Elegant</div>
              <details>
                <summary>Custom text</summary>
                <div>Top: Dear: XXXX</div>
                <div>Body: Merry Chrismas! </div>
                <div>Bottom: Yours YYY</div>
              </details>
            </div>
            <div>Price: $<span class="price">2.99</span></div>
          </div>
          <!-- product #2 -->
          <div class="item">

            <div class="card-img">
              <img src="../images/chrismas_tower_sm.jpg" alt="" />
            </div>

            <div class="product-info">
              <div class="name">Name: XXXX</div>
              <div>Provider: XXX</div>

              <div>
                <label>Quantity
                <input type="number" name="quantity" placeholder="1" min="1" value="1">
                </label>
              </div>
              <div class="delete">Delete</div>
            </div>

            <div class="custom-text">
              <div id="color">Color: Black</div>
              <div id="font">Font: Elegant</div>
              <details>
                <summary>Custom text</summary>
                <div>Top: Dear: XXXX</div>
                <div>Body: Merry Chrismas! </div>
                <div>Bottom: Yours YYY</div>
              </details>
            </div>
            <div>Price: $<span class="price">2.99</span></div>
          </div>

        </div>

        <div class="right-column">
          <a th:href="@{/order/create_order}"><button class="place-order-btn" type="button">Place Your Order</button></a>
          <table id="order-summary">
            <caption>Order Summary</caption>
            <tr>
              <td>Items</td>
              <td>$<span id="total-price">5.98</span></td>
            </tr>
            <tr>
              <td>Shipping & handling</td>
              <td>$<span id="shipping">3.99</span></td>
            </tr>
            <tr >
              <td class="bottom-line">Estimated tax to be collected:</td>
              <td class="bottom-line">$<span id="tax">2.00</span></td>
            </tr>
            <tr class="order-total">
              <td>Order total:</td>
              <td>$<span id="payment">11.97</span></td>
            </tr>
          </table>

          <!-- <div class="bottom"><a href="#top">Back to top</a></div> -->
        </div>
      </div>
    </form>
  </main>
  <!-- <script src="../js/checkout.js"></script> -->
  <script th:src="@{/js/checkout.js}"></script>
</body>
</html>
