<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <title>iCard-Error</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- use google font -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Grandstander&family=Petit+Formal+Script&display=swap" rel="stylesheet">
  
  <!-- <link rel="stylesheet" href="../fonts/fontawesome-free-5.14.0-web/css/all.css">
  <link rel="stylesheet" href="../styles/basic.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/product.css"> -->
  
   <link th:href="@{/fonts/fontawesome-free-5.14.0-web/css/all.css}" rel="stylesheet" />
    <link th:href="@{/styles/basic.css}" rel="stylesheet" />
    <link th:href="@{/styles/header.css}" rel="stylesheet" />
    

</head>

<body>
  <div th:replace="views/fragments/header :: header"></div>
  
  <!--  Show error message when exception happens-->
  <p>Sorry, some exception has happened!</p>
  <p>Message: <span th:text="${error}"></span></p>
 <p>You may click <strong><a th:href="@{/}">HERE</a></strong> to go to home page.</p>
  </body>

</html>