<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

  <head>
    <meta charset="utf-8">
    <title>iCard-Order History</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- use google font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../fonts/fontawesome-free-5.14.0-web/css/all.css">
    <link rel="stylesheet" href="../styles/basic.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/order_history.css"> -->
     <link th:href="@{/fonts/fontawesome-free-5.14.0-web/css/all.css}" rel="stylesheet" />
    <link th:href="@{/styles/basic.css}" rel="stylesheet" />
    <link th:href="@{/styles/header.css}" rel="stylesheet" />
    <link th:href="@{/styles/order_history.css}" rel="stylesheet" />
    
    <style>
    </style>
  </head>
  <body>
    <div th:replace="views/fragments/header :: header"></div>
    <main>
      <table class="order">
        <caption>Recent Orders</caption>
        <tr>
          <th>Order ID</th>
          <th>Order Date/Time</th>          
          <th>Shipping Address</th>
          <th>OrderTotal</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        
      <!--  <tr> 
        <tr th:each="prod : ${prods}">
        <td th:text="${prod.name}">Onions</td>
        <td th:text="${prod.price}">2.41</td>
        <td th:text="${prod.inStock}? #{true} : #{false}">yes</td>
      </tr> -->

        <!-- template for one order item -->
        <tr class="order-item" th:each="order : ${orders}">
          <td th:text="${order.orderId}">A1000001</td>
          <td th:text="${order.createdOn}">2020-08-10, 13:20</td>         
          <td>
            <details>
              <summary>Shipping Address</summary>
              <address>
			      <span th:text="${order.receiver.firstName} +' '+ ${order.receiver.lastName}"></span><br>
			      <span th:text="${order.receiver.addressLine1}"></span><br>      
			      <span th:text="${order.receiver.addressLine2}"></span><br>     
			      <span th:text="${order.receiver.city}"></span>,&nbsp;
			      <span th:text="${order.receiver.state}"></span>&nbsp;
			      <span th:text="${order.receiver.zipCode}"></span><br>
			      Phone: <span th:text="${order.receiver.phone}"></span>
			  </address>
            </details>
          </td>
          <td th:text="${order.orderTotal}"></td>
          <td th:text="${order.orderStatus}"></td>
          <td><a href="@{/order/view_order/orderId(orderId=${order.orderId})}">Details</a></td>
        </tr>

        
      </table>
    </main>

  </body>
</html>
