<!-- admin update order status in order for order fulfillment -->
<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <title>iCard-Order Fulfillment</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- use google font -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../fonts/fontawesome-free-5.14.0-web/css/all.css" th:href="@{/fonts/fontawesome-free-5.14.0-web/css/all.css}">
  <link rel="stylesheet" href="../styles/basic.css" th:href="@{/styles/basic.css}">
  <link rel="stylesheet" href="../styles/header.css" th:href="@{/styles/header.css}">
  <link rel="stylesheet" href="../styles/order_fulfillment.css" th:href="@{/styles/order_fulfillment.css}">
  <style>
  </style>
</head>

<body>
  <div th:replace="views/fragments/header :: header"></div>

  <main>
    <!-- display normal order process sequence -->
    <div class="order-status-chain">
      Order Process Chain:<br>
      CREATED &gt; INPROCESS &gt; SHIPPED &gt; COMPLETE
    </div>
    <div>
      List of Orders with status: <span th:text="${orderStatus}" class="status"></span>
    </div>
    
    <!-- drop down menu which enables to show backlog based on order status -->
    <form action="#" th:action="@{/admin/orders}"
		 method="get">
      <label for="order_status">Filtered by order status:</label>
      <select name="order_status" id="order_status">
        <option th:value="CREATED" selected>Created</option>
        <option th:value="INPROCESS">In Process</option>
        <option th:value="SHIPPED">Shipped</option>
        <option th:value="COMPLETE">Complete</option>
        <!-- <option th:value="CANCELLED">Cancelled</option> -->
      </select>
      <button type="submit">Go</button>
    </form>

	<!-- display order list -->
    <form action="#" th:action="@{/admin/update_status}" th:object="${orders}" method="GET"> 
    	<input type="hidden" name="orderStatus" th:value="${orderStatus}"/>
      <table class="order-list">
      
      <!-- comment out cancel function for now -->
        <!-- <tr class="order-item">
          <td colspan="6">
          </td>

          <td>
            <button>Cancel</button>
          </td>
        </tr> -->
        
        <tr>
          <th>Selected</th>
          <th>Order ID</th>
          <th>Order Date/Time</th>          
          <th>Shipping Address</th>
          <th>OrderTotal</th>
          <th>Status</th>
          <th>Action</th>
        </tr>

        <!-- display order list with check-box for next step -->
        <tr class="order-item" th:each="order : ${orders}">
          <td>
            <input type="checkbox" name="orderIdList" th:value="${order.orderId}">
          </td>
          <td th:text="${order.orderId}">A1000001</td>
          <td th:text="${order.createdOn}">2020-08-10, 13:20</td>         
          <td>
            <details>
              <summary>Shipping Address</summary>
              <address>
			      <span th:text="${order.receiver.firstName} +' '+ ${order.receiver.lastName}"></span><br>
			      <span th:text="${order.receiver.addressLine1}"></span><br>      
			      <span th:text="${order.receiver.addressLine2}"></span><br>     
			      <span th:text="${order.receiver.city}"></span>,&nbsp;
			      <span th:text="${order.receiver.state}"></span>&nbsp;
			      <span th:text="${order.receiver.zipCode}"></span><br>
			      Phone: <span th:text="${order.receiver.phone}"></span>
			  </address>
            </details>
          </td>
          <td th:text="${order.orderTotal}"></td>
          <td th:text="${order.orderStatus}"></td>
          <td><a th:href="@{/order/view_order/{orderId}(orderId=${order.orderId})}" target="_blank">Details</a></td>
        </tr> 
               
        <tr class="order-item">
          <td colspan="6">
          </td>

		<!-- click to operate on checked order to move on to next step -->
          <td>
            <button type="submit" th:text="${nextStep}">Next Step</button>
          </td>
        </tr>

      </table>
    </form>
    
    <!-- Function to quick check on one order by orderId -->
    <form action="#" th:action="@{/admin/view_order}" method="get">
    <div>
    	Quick Order Check. Enter Order ID:
      	<input type="number" name="orderId">
      	<button type="submit">Go</button>
    </div>
    </form>
  </main>

</body>

</html>
