<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iCard</title>
  <!-- use google font -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

<link th:href="@{/fonts/fontawesome-free-5.14.0-web/css/all.css}" rel="stylesheet" />
  <link th:href="@{/styles/basic.css}" rel="stylesheet" />
  <link th:href="@{/styles/header.css}" rel="stylesheet" />
  <link th:href="@{/styles/index.css}" rel="stylesheet" />
</head>

<body>
  <div th:replace="views/fragments/header :: header"></div>

  <main>
  <!-- display category if available -->
  	<div th:if="${categoryName != null}">
    Home &gt; <span th:text="${categoryName}"></span>
    
    <!-- main sort options -->
     <form action="#" th:action="@{/category}"
		 method="POST">
      <label for="sort-type">Sort by</label>
      <select name="sort-type" id="sort-type">
        <option th:value="new" selected>New</option>
        <option th:value="priceAsc">Price(low -> high)</option>
        <option th:value="priceDesc">Price(high -> low)</option>
      </select>
      <input type="hidden" name="categoryId" th:value="${categoryId}">
      <button type="submit">Go</button>
    </form>
  	</div>
  	
	
	<!-- if it is home page, can trigger web service to show left days to Christmas day -->
	<th:block th:if="${isHome}">
      <a ><button id="view-btn">How many days to next Christmas Day?</button></a>
      <span id="days"></span>
  	</th:block>
    

    <!-- main product items display -->
    <div class="item-container">

      <!-- display each item -->
      <div class="main-item" th:each="tempProduct : ${products}">
        <div class="item-img">
          <a th:href="@{/product/{productId}(productId=${tempProduct.productId})}">
            <!-- <img src="images/chrismas_tower_sm.jpg" alt="Chrismas tower"> -->
            <img th:src="@{${tempProduct.imagePath}}" alt="Chrismas tower">
          </a>
        </div>
        <div class="subitem-container">
        
        <!-- comment out like product function -->
          <!-- <div class="favoriate">
            <i class="far fa-heart"></i>
          </div> -->
          
          <div>
            <ul>
            <li>Name: <span th:text="${tempProduct.productName}" th:remove="tag">userName</span></li>
            <li>Provider: <span th:text="${tempProduct.provider}" th:remove="tag">userName</span></li>
            <li>Price: <span th:text="${tempProduct.price}" th:remove="tag">userName</span></li>
            </ul>
          </div>
        </div>
      </div>
      </div>
  </main>
  <!-- jQuery used for Ajax for retrieving info from web service -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script th:src="@{/js/index.js}"></script>
</body>

</html>
