<!-- product detail page for customizing products and buy -->
<!-- customer can buy post card design with customized text in order to buy post cards.-->

<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>iCard-Post Card</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- use google font -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Grandstander&family=Petit+Formal+Script&display=swap" rel="stylesheet">
  
  <!-- <link rel="stylesheet" href="../fonts/fontawesome-free-5.14.0-web/css/all.css">
  <link rel="stylesheet" href="../styles/basic.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/product.css"> -->
  
   <link th:href="@{/fonts/fontawesome-free-5.14.0-web/css/all.css}" rel="stylesheet" />
    <link th:href="@{/styles/basic.css}" rel="stylesheet" />
    <link th:href="@{/styles/header.css}" rel="stylesheet" />
    <link th:href="@{/styles/product.css}" rel="stylesheet" />

</head>

<body>
  <div th:replace="views/fragments/header :: header"></div>

  <main>
    <div class="product-container">
      <div class="left-column">
        <div class="card-img">
          <img src="../images/chrismas_tower_sm.jpg" alt="product photo">
        </div>

        <div class="card-img text-template">
          <div class="top">Dear XXX,</div>
          <div class="body">Example: Merry Chrismas!</div>
          <div class="bottom">Sincerely, ZZ</div>
        </div>


      </div>
      <div class="right-column">
        <div class="product-description">
          <h1>Price: $ 3.99</h1>
          <p>Name: Chrismas Tower</p>
          <p>Provider: iCard</p>
          <p><i class="far fa-heart"></i></p>
        </div>

        <form action="">
          <div class="customize">

            <div class="custom-theme">
              <span>Text Color:</span>
              <input type="radio" id="black" name="color" value="black" checked>
              <label for="black">Black</label>
              <input type="radio" id="blue" name="color" value="blue">
              <label for="blue">Blue</label>
              <input type="radio" id="purple" name="color" value="purple">
              <label for="purple">Purple</label>
            </div>

            <div class="custom-theme">
              <span>Text Font:</span>
              <input type="radio" id="elegant" name="font" value="elegant" checked>
              <label for="elegant">Elegant</label>
              <input type="radio" id="cute" name="font" value="cute">
              <label for="cute">Cute</label>
              <input type="radio" id="lively" name="font" value="lively">
              <label for="lively">Lively</label>
            </div>

            <div class="custom-text">
              <fieldset>
                <legend>Words printed on your card</legend>
                <input id="custom-top" type="text" size="50" placeholder="Dear XXX(max:50)," maxlength="50">
                <textarea id="custom-body" name="name" rows="8" cols="55" placeholder="Example: Merry Chrismas!(max:280)" maxlength="280"></textarea>
                <input id="custom-bottom" type="text" size="50" class="bottom" placeholder="Sincerely, ZZ(max:50)" maxlength="50">
              </fieldset>
              <!-- <a href="#" class="how">How to customize your post cards</a> -->

              <div class="buttons">
                <button type="button" class="preview-btn">Preview</button>
                <a href="cart.html"><button type="button" class="cart-btn">Add to cart</button></a>
              </div>


            </div>
          </div>
        </form>
      </div>
    </div>

  </main>

  <!-- <script src="../js/product.js"></script> -->
  <script th:src="@{/js/product.js}"></script>
</body>

</html>
