<!-- Admin and Customer can login in order to use full features such as buying or perform admin functions-->
<!DOCTYPE html>

<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org"  lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register</title>

  <!-- use google font -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
  
  <!-- <link rel="stylesheet" href="../fonts/fontawesome-free-5.14.0-web/css/all.css">
  <link rel="stylesheet" href="../styles/basic.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/login.css"> -->
  
  <link th:href="@{/fonts/fontawesome-free-5.14.0-web/css/all.css}" rel="stylesheet" />
    <link th:href="@{/styles/basic.css}" rel="stylesheet" />
    <link th:href="@{/styles/header.css}" rel="stylesheet" />
    <link th:href="@{/styles/login.css}" rel="stylesheet" />
</head>

<body>
  <div th:replace="views/fragments/header :: header"></div>

  <main>
    <h2>Create your account</h2>
    <form action="#" th:action="@{/register/save}" th:object="${newUser}" method="post">
    	<th:block th:if="${isEmployee} == true">
			<input type="hidden" th:value=${isEmployee} name="isEmployee"/>
		</th:block>
      <div class="container">
      	<!-- display message if the email if already registered -->
		<th:block th:if="${message} != null">
      	<span th:text="${message}" class="error"></span>
      	</th:block>
      	
      	<div th:if="${#fields.hasErrors()}">
			<span class="error">
				Please correct the problems below and resubmit
			</span>
		</div>
      	
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" th:field="*{firstName}"> 
		<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error"> 
		First Name error</span>
			
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" th:field="*{lastName}">
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"> 
		Last Name error</span>

        <label for="email">Email address</label>
        <input type="email" id="email" th:field="*{email}">
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"> 
		Email error</span>
		
        <label for="password">Password</label>
        <input type="password" id="password" th:field="*{password}">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"> 
		Password error</span>
		
		<!-- Part used by Employee register only -->
		<th:block th:if="${isEmployee} == true">
			<label for="passcode">Passcode for employee registration</label>
			<input type="password" id="passcode" name="passcode">
		</th:block>
        <button type="submit">CREATE AN ACCOUNT</button>
        
        <!-- Provide the other register link -->
        <th:block th:if="${isEmployee} == null">
        	<a th:href="@{/register/{isEmployee}(isEmployee=true)}">Register as employee</a>
      	</th:block>
      	<th:block th:if="${isEmployee} == true">
			<a th:href="@{/register}">Register as customer</a>
		</th:block>
      </div>
    </form>

	<!-- Provide link to sign in -->
    <div class="changePage">Already have an account?</div>
    <a th:href="@{/login}"><button type="button">SIGN IN</button></a>
  </main>

</body>

</html>
