<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <title>iCard-Shipping address</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- use google font -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
 
 <!--  <link rel="stylesheet" href="../fonts/fontawesome-free-5.14.0-web/css/all.css">
  <link rel="stylesheet" href="../styles/basic.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/shipping_address.css"> -->
  
   <link th:href="@{/fonts/fontawesome-free-5.14.0-web/css/all.css}" rel="stylesheet" />
    <link th:href="@{/styles/basic.css}" rel="stylesheet" />
    <link th:href="@{/styles/header.css}" rel="stylesheet" />
    <link th:href="@{/styles/shipping_address.css}" rel="stylesheet" />

</head>

<body>
  <div th:replace="views/fragments/header :: header"></div>

  <div class="checkout-process">
    SIGN IN &gt; <strong>SHIPPING</strong> &gt; PLACE ORDER
  </div>

  <div class="instruction">
    <h2>Select a shipping address</h2>
    <p>Is the address you'd like to use displayed below? If so, click the corresponding "Deliver to this address" button. Or you can enter a new shipping address. </p>
  </div>

<!-- when customer has saved a personal address, show it up and able to deliver to the address -->
  <div class="current-address">
  <th:block th:if="${customerDetail != null}">
  	<address>
      <span th:text="${customerName}"></span><br>
      <span th:text="${customerDetail.addressLine1}"></span><br>      
      <span th:text="${customerDetail.addressLine2}"></span><br>     
      <span th:text="${customerDetail.city}"></span>,&nbsp;
      <span th:text="${customerDetail.state}"></span>&nbsp;
      <span th:text="${customerDetail.zipCode}"></span><br>
      Phone: <span th:text="${customerDetail.phone}"></span>
    </address>
    <div>
	  <a th:href="@{/order/checkout(cartId=${cartId})}"><button type="button">Deliver to this address</button></a>
  	</div>
  </th:block>
  <th:block th:if="${customerDetail == null}"> 	
      <span th:text="${customerName}"></span><br>
      <span>No address is available.</span><br>
      <span>You can save your new address below </span><br>
      <span>as your personal address.</span>               
  </th:block>
  </div>
  
 <!-- form for customer to create a new address for order delivery --> 
  <div>
  <form action="#" th:action="@{/order/checkout}"
		th:object="${receiver}" method="POST" class="container">
		
	<input type="hidden" name="cartId" th:value="${cartId}">
         
      <h2>Use a new address</h3>

      <label for="first_name">First Name<span class="required">*</span></label>
      <input type="text" id="first_name" th:field="*{firstName}" required />
      
      <label for="last_name">Last Name<span class="required">*</span></label>
      <input type="text" id="last_name" th:field="*{lastName}" required />
      
      <label for="addressline1"></i> Address line 1<span class="required">*</span></label>
      <input type="text" id="addressline1" th:field="*{addressLine1}" placeholder="Street address, P.O.box, company name, c/o" />
      
      <label for="addressling2"> Address line 2</label>
      <input type="text" id="addressling2" th:field="*{addressLine2}" placeholder="Apartment, suite, unit, building, floor, etc." />
      
      <label for="city">City<span class="required">*</span></label>
      <input type="text" id="city" th:field="*{city}" />
      
      <label for="tel">Phone number<span class="required">*</span></label>
      <input type="tel" id="tel" th:field="*{phone}" />

      <label for="state">State<span class="required">*</span></label>
      <input type="text" id="state" th:field="*{state}" />

      <label for="zip">Zip Code<span class="required">*</span></label>
      <input type="text" id="zip" th:field="*{zipCode}" pattern = "^[0-9]{5}(?:-[0-9]{4})?$" />
      
        <fieldset>
          <legend>Select billing address</legend> 
          <!-- <label>        
          <input type="radio" th:field="${billingAddressType}" th:value="RECEIVER"> Billing address same as shipping
        </label><br>
          <label>
          <input type="radio" th:field="${billingAddressType}" th:value="CUSTOMER"> Billing address same as your personal address
          </label> -->
          
          <label>        
          <input type="radio" name="billingAddressType" th:value="RECEIVER" checked> Billing address same as shipping address
        </label><br>
        
        <th:block th:if="${customerDetail != null}">
  			<label>
          		<input type="radio" name="billingAddressType" th:value="CUSTOMER"> Billing address same as your personal address
          	</label>   			
  		</th:block>
        
          <!-- <label>
          <input type="radio" name="billingAddressType" th:value="CUSTOMER"> Billing address same as your personal address
          </label> -->
        </fieldset>
        
      <label>
        <input type="checkbox" name="save"> Save this address as your new personal address
      </label>

      
      <a><button type="submit" class="use-new">Use this address and checkout</button></a>
    </form>
  </div>
  <!-- <script src="../js/shipping_address.js"></script> -->
  
  <script th:src="@{/js/shipping_address.js}"></script>
</body>

</html>
