<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iCard Home</title>

  <!-- use google font -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">


<link th:href="@{/fonts/fontawesome-free-5.14.0-web/css/all.css}" rel="stylesheet" />
  <link th:href="@{/styles/basic.css}" rel="stylesheet" />
  <link th:href="@{/styles/header.css}" rel="stylesheet" />
  <link th:href="@{/styles/index.css}" rel="stylesheet" />


</head>

<body>

  <div th:replace="views/fragments/header :: header"></div>

  <main>
    <!-- main sort options -->
    <form action="#">
      <label for="sort-type">Sort by</label>
      <select name="sort-type" id="sort-type">
        <option value="new" selected>new</option>
        <option value="likes">likes</option>
      </select>
    </form>

    <!-- main product items display -->
    <div class="item-container">

      <!-- one item display template -->
      <div class="main-item">
        <div class="item-img">
          <a href="views/product.html">
            <img src="images/chrismas_tower_sm.jpg" alt="Chrismas tower">
          </a>
        </div>
        <div class="subitem-container">
          <div class="favoriate">
            <i class="far fa-heart"></i>
          </div>
          <div>
            <ul>
              <li>Name: Chrismas Tower</li>
              <li>Provider: iCard</li>
              <li>Price: $3.99</li>
            </ul>
          </div>
        </div>

      </div>

      <div class="main-item">
        <div class="item-img">
          <a href="views/product.html">
            <img src="images/birthday.jpg" alt="Chrimas tower">
          </a>
        </div>
        <div class="subitem-container">
          <div class="favoriate">
            <i class="far fa-heart"></i>
          </div>
          <div>
            <ul>
              <li>Name: Happy Birthday</li>
              <li>Provider: iCard</li>
              <li>Price: $2.99</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="main-item">
        <div class="item-img">
          <a href="views/product.html">
            <img src="images/mom_heart.jpg" alt="Chrimas tower">
          </a>
        </div>
        <div class="subitem-container">
          <div class="favoriate">
            <i class="far fa-heart"></i>
          </div>
          <div>
            <ul>
              <li>Name: Heart To Mom</li>
              <li>Provider: iCard</li>
              <li>Price: $2.99</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script th:src="@{/js/index.js}"></script>
  
</body>

</html>
