


/* main */
main {
  font-family: var(--menu-font-family);
}

main form {
  margin-left: 5%;
  margin-top: 2%;
  font-family: var(--main-font-family);
}

#view-btn {
	margin-top:1em;
	margin-bottom:1em;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  align-content: center;

}

.main-item {
  margin:1%;
  border: 2px solid var(--header-border-color);
  border-radius: 5px;
  padding: 0.5%;
}

.main-item:hover{
  border: 2px solid var(--item-border-hover-color);
}


.item-img {
  width: 18em;
  height: 12em;
  padding: 1%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.subitem-container ul li {
  font-family: var(--main-font-family);
  color: var(--main-item-color);
}

.subitem-container .favoriate {
  text-align: right;
  border-bottom: 2px solid var(--favoriate-border-color);
}

.subitem-container .favoriate i{
  margin-right: 5%;
  color: var(--favoriate-color);
}

.subitem-container .favoriate i:hover {
  color:var(--favoriate-hover-color);
}

.subitem-container ul{
  list-style: none;
  padding-inline-start: 5%;
}

/* Add for pagination style */
.pagination {
  display: block;  
}

.center {
  margin: 2% auto;
  text-align:center;
}

.pagination a {
  color: black;
  /* float: left; */
  /* padding: 8px 16px; */
  padding: 0.5em 1em;
  text-decoration: none;
}

.pagination .active {
  background-color: #4CAF50;
  color: white;
  padding: 0.5em 1em;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}

.page-index {
	display:inline-block;
}

/* footer */
footer {
  border-top: 2px solid var(--header-border-color);
}
