

main {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}


main h2{
  font-weight: 400;
}

.container{
  display: flex;
  flex-direction: column;
  /* width: 60%; */
  /* margin: auto; */
}

.changePage{
  border-top: 2px solid var(--border-color);
  padding-top: 0.2em;
}

button {
  margin: 2% 0;
  width: 100%;
}

.error{
	color:red;
}
